.followers{
/*	padding: 2rem;*/
	font-size: 1.5rem;
	height: 100vh;
}
.total-followers{
	border: 4px solid red;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding: 1rem 2rem;
}
.follower{
	border: 4px solid red;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
}
