.home-index{
/*	border: 5px solid red;*/
    height: 100vh;
    background-color: wheat;
}
.index-logo{
/*	border: 2px solid red;*/
	padding-top: 4rem;
	font-size: 4rem;
	font-weight: bolder;
	text-align: center;
}