.home-index{
    height: 100vh;
}
.index-logo{
	font-size: 4rem;
	font-weight: bolder;
	text-align: center;
	color: red;
	margin-top: 6rem;
	margin-bottom: 4rem;
	font-family: 'Great Vibes', cursive;
}
