<%= render 'layouts/home_back_btn' %>
<% current_user.followees.each do |followed| %>
  <% followed.posts.each do |post| %>
    <% if post.status != 'private' %>
      <div class="friends-post">
        <div><strong>Name: </strong><%= post.user.name.present? ? post.user.name : post.user.email %></div>
        <div><strong>Title: </strong><%= post.title %></div>
        <div><strong>Desc: </strong><%= post.description %></div>
      </div>
    <% end %>
  <% end %>
<% end %>
