<h2>My friends' posts </h2>
<% current_user.followees.each do |followed| %>
    <% followed.posts.each do |post| %><br><br>
      <div class="friends-post">
        <div><%= post.user.name.present? ? post.user.name : post.user.email %></div>
        <div><%= post.title %></div>
        <div><%= post.description %></div>
      </div>
    <% end %>
<% end %>
