<div class="home-index">
	<div class="home-box">
		<div class="home-box-img">
			<div class="home-box-cont">
				<div class="fr f">F</div>
				<div class="fr a">A</div>
				<div class="fr s">S</div>
				<div class="fr n">N</div>
				<div class="fr k">K</div>
			</div>
		</div>
	</div>
</div>