<%= render 'layouts/home_back_btn' %>
<% c = 0 %>
<% @posts.each do |post| %>
  <% if post.status == "private" %>
    <div class="liked_post">
    <% c = c + 1 %>
      <div><strong>Title: </strong><%= post.title %></div>
      <div><strong>Desc: </strong><%= post.description %></div>
      <div><strong>Created at: </strong><%= time_ago_in_words(post.created_at) %> ago</div>
    </div>
  <% end %>
<% end %><br><br>
<% if c == 0  %>
  <h3>You don't have any private post.</h3>
<% end %>