.users-index{
	padding: 1rem;
	padding-top: 2rem;
}
.users-user{
	border: 4px solid red;
	padding: 1rem;
	line-height: 2.5rem;
	margin-bottom: 2rem;
	color: white;
	font-size: 2rem;
}
.users-user-btns{
	text-align: center;
	background-color: blue;
	margin-top: 1rem;
}
.index-follow{
	background-color: blue;
	font-weight: bolder;
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
	width: 100%;
}
.index-unfollow{
	background-color: red;
	border: 6px solid red;
	font-weight: bolder;
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
	width: 100%;
}
