.users-show{
	line-height: 3rem;
	padding: 2rem;
	background-color: wheat;
	height: 90vh;
}
.users-show-details{
	margin-top: 2rem;
	border: 5px solid red;
	padding: .5rem;
}
.users-show-edits{
	margin-top: 3rem;
	background-color: blue;
	text-align: center;
}
.users-show-edit{
	color: white;
	font-weight: bolder;
	padding: .5rem 1.5rem;
	margin-top: 2rem;
}