.posts-form{
	border: 4px solid black;
	margin-top: 4rem;
	font-size: 2rem;
	padding: 1rem;
}
.posts-form select{
	background-color: red;
	width: 50%;
	font-size: 1.5rem;
	color: white;
	font-weight: bolder;
	text-transform: capitalize;
}
.post-form-title{
	width: 100%;
	font-size: 2rem;
	margin-bottom: 1.5rem;
	padding: 1rem;
	border: 2px solid black;
}
